on:
  pull_request:

name: Checks

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      CARGO_PROFILE_DEV_DEBUG: '0' # reduce size of target directory

    services:
      postgres:
        image: postgres@sha256:87ec5e0a167dc7d4831729f9e1d2ee7b8597dcc49ccd9e43cc5f89e808d2adae
        env:
          POSTGRES_USER: star
          POSTGRES_PASSWORD: password
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Toolchain
        uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # v1.0.7
        with:
          profile: minimal
          components: clippy, rustfmt
          toolchain: 1.78
          override: true

      - name: Cache
        uses: actions/cache@1bd1e32a3bdc45362d1e726936510720a7c30a57 # v4.2.0
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Format
        uses: actions-rs/cargo@844f36862e911db73fe0815f00a4a2602c279505 # v1
        with:
          command: fmt
          args: --check

      - name: Install diesel
        uses: actions-rs/cargo@844f36862e911db73fe0815f00a4a2602c279505 # v1.0.3
        with:
          command: install
          args: --force diesel_cli --no-default-features --features "postgres"

      - name: Run db migration
        run: diesel migration run
        env:
          DATABASE_URL: "postgres://star:password@localhost:5432/postgres"
      - name: Build/Test
        uses: actions-rs/cargo@844f36862e911db73fe0815f00a4a2602c279505 # v1.0.3
        with:
          command: test
        env:
          TEST_DATABASE_URL: "postgres://star:password@localhost:5432/postgres"

      - name: Test Client Format
        uses: actions-rs/cargo@844f36862e911db73fe0815f00a4a2602c279505 # v1.0.3
        with:
          command: fmt
          args: --check --manifest-path misc/test-client/Cargo.toml

      - name: Test Client Build
        uses: actions-rs/cargo@844f36862e911db73fe0815f00a4a2602c279505 # v1.0.3
        with:
          command: build
          args: --release --all-targets --manifest-path misc/test-client/Cargo.toml
